/* アバウト詳細レイアウト */
/* about-contentはcommon.cssに記述しています*/
.about-detail {
  width: 100%;
}

.about-textarea {
  text-align: start;
  max-width: 300px;
  margin: 0 auto;
}

.about-textarea .about-text .highlight {
  color: rgb(71, 141, 71);
  font-weight: 500;
}

@media screen and (min-width: 541px) {
  .about-textarea {
    max-width: 530px;
  }
}

@media screen and (min-width: 769px) {
  .about-textarea {
    max-width: 720px;
  }
}

@media screen and (min-width: 1025px) {
  .about-textarea {
    max-width: 920px;
  }
}

/* ------------------------------ */

/* スキルレイアウト */
.skill-content .skill-menu {
  max-width: 320px;
  padding: 40px 0;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
}

.skill-content .skill-menu .skill-list {
  width: 250px;
  background-color: #9edd8f;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.5), 7px 7px 25px rgba(0, 0, 0, 0.5);
  background: rgba(137, 195, 65, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.skill-content .skill-menu .skill-list .skill-icon_hc,
.skill-content .skill-menu .skill-list .skill-icon_j,
.skill-content .skill-menu .skill-list .skill-icon_p,
.skill-content .skill-menu .skill-list .skill-icon_l,
.skill-content .skill-menu .skill-list .skill-icon_m,
.skill-content .skill-menu .skill-list .skill-icon_d {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}
.skill-content .skill-menu .skill-list .skill-icon_hc {
  background-image: url(../img/Skill_icon/HTML_CSS.png);
}
.skill-content .skill-menu .skill-list .skill-icon_j {
  width: 152px;
  background-image: url(../img/Skill_icon/JavaScript.png);
}
.skill-content .skill-menu .skill-list .skill-icon_p {
  height: 125px;
  background-image: url(../img/Skill_icon/php.png);
}
.skill-content .skill-menu .skill-list .skill-icon_l {
  width: 152px;
  background-image: url(../img/Skill_icon/laravel.png);
}
.skill-content .skill-menu .skill-list .skill-icon_m {
  background-image: url(../img/Skill_icon/mysql.png);
}
.skill-content .skill-menu .skill-list .skill-icon_d {
  background-image: url(../img/Skill_icon/Design_soft_icon.png);
}

.skill-content .skill-menu .skill-list .skill-text {
  text-align: start;
  margin-top: 10px;
}

@media screen and (min-width: 680px) {
  .skill-content .skill-menu {
    margin: 0 auto;
    max-width: 520px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .skill-content .skill-menu {
    max-width: 980px;
    justify-content: space-evenly;
    /* gap: 100px; */
  }
}
/* ---------------------------------- */
