@charset "utf-8";

html {
  font-family: "Segoe UI", "Poppins", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

body {
  background-color: rgb(232, 255, 210);
}

.wrapper {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* インナーレイアウト */
.header-inner {
  max-width: 1440px;
  margin: 0 auto;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 10vh;
}

.process-inner {
  width: 100%;
  overflow: hidden;
}

/* ヘッダーレイアウト */
.header-area {
  width: 100%;
  height: 60px;
  background: rgb(137, 195, 65);
}

.header {
  width: 100%;
  height: 60px;
  padding: 10px 4%;
  margin: 0 auto;
}

.header-nav {
  display: none;
}

.header-logo {
  width: 150px;
  flex-shrink: 0;
}

/* ハンバーガーメニュー */
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background-color: #000;
  position: absolute;
  transition: 0.4s;
}

.menu-btn span::before {
  top: 8px;
}

.menu-btn span::after {
  bottom: 8px;
}

#menu-btn-check {
  display: none;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  top: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* ハンバーガーメニューリスト */
#menu-btn-check:checked ~ .menu-content {
  right: 0;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 90;
  background-color: #64aa3c;
  transition: 0.4s;
}

.menu-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.menu-content li {
  text-align: center;
  line-height: 2.5rem;
  border-bottom: 1px solid #000;
  list-style: none;
}

.menu-content a {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  position: relative;
}

.menu-content a::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

@media screen and (min-width: 769px) {
  .header-area {
    height: 80px;
  }

  .header {
    height: 80px;
  }

  .header .flex {
    gap: 4%;
    align-items: center;
  }

  .header-logo {
    width: 200px;
  }

  .hamburger-menu {
    display: none;
  }

  .header-nav {
    display: block;
    flex-grow: 1;
  }

  .nav {
    justify-content: flex-end;
  }

  .nav li a {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/* メインレイアウト */
.main {
  width: 100%;
}

.about,
.works,
.blog,
.process,
.contact {
  text-align: center;
  padding: 10vh 0;
  position: relative;
}

.about,
.blog,
.contact {
  background-color: #d3e9b9;
  z-index: 0;
}

/* 背景の丸丸円 */
.about::before,
.blog::before,
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(215, 238, 163),
    rgb(137, 182, 107, 0.5)
  );
  clip-path: circle(45.3% at 0% 100%);
}

.about::after,
.blog::after,
.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(215, 238, 163),
    rgb(137, 182, 107, 0.5)
  );
  clip-path: circle(27.1% at 100% 0%);
}
/* ------------------ */

h2[class*="title"] {
  width: 150px;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  transition: 0.1s;
}

h2[class*="title"]::after {
  display: inline-block;
  content: "";
  width: 100%;
  border-bottom: 3px solid #585;
}

h3[class*="title"] {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #585;
}

p[class*="description"] {
  margin-top: 10px;
  text-align: start;
}

.heading {
  color: rgb(40, 104, 40);
}

/* aboutレイアウト*/

.about-content {
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 40px auto;
  gap: 30px;
  position: relative;
  background: rgba(137, 195, 65, 0.1);
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5), 2px 2px 25px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* 括弧部分 */
.about-content::before,
.about-content::after {
  content: "";
  width: 150px;
  height: 50px;
  position: absolute;
}

.about-content::before {
  border-top: 7px solid #387d39;
  border-left: 7px solid #387d39;
  top: -7px;
  left: -7px;
  border-top-left-radius: 15px;
}

.about-content::after {
  border-bottom: 7px solid #387d39;
  border-right: 7px solid #387d39;
  bottom: -7px;
  right: -7px;
  border-bottom-right-radius: 15px;
}
/* --------------------------- */

.about-icon {
  width: 200px;
  border-radius: 50%;
  padding: 10px;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
}

.about-text {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
  .about-icon {
    width: 300px;
  }

  .about-content {
    max-width: 720px;
    flex-direction: row;
  }

  .about-me {
    padding-left: 30px;
  }

  .about-text {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 20px;
  }
}

/* worksレイアウト */
.works-list {
  max-width: 320px;
  padding: 40px 0;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
}

@media screen and (min-width: 680px) {
  .works-list {
    max-width: 520px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .works-list {
    max-width: 980px;
    justify-content: space-evenly;
  }
}

.works-list > li {
  width: 250px;
  background-color: #9edd8f;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.5), 7px 7px 25px rgba(0, 0, 0, 0.5);
  background: rgba(137, 195, 65, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.works-list > li img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25% 0 25% 0;
}

/* blogレイアウト */
.blog-list {
  max-width: 320px;
  padding: 40px 0;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
}

@media screen and (min-width: 680px) {
  .blog-list {
    max-width: 520px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .blog-list {
    max-width: 980px;
    justify-content: space-evenly;
  }
}

.blog-list > li {
  width: 250px;
  background-color: #9edd8f;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.5), 7px 7px 25px rgba(0, 0, 0, 0.5);
  background: rgba(137, 195, 65, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px;
}

.blog-list > li img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
}

/* processレイアウト */
.process-text {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 2rem;
  padding-top: 50px;
}

@media screen and (min-width: 641px) {
  .process-text {
    font-size: 1.5rem;
  }
}

.slide-area {
  width: 100%;
  margin: 100px auto 0;
  display: flex;
  align-items: center;
}

.slide-area:hover .slide {
  animation-play-state: paused;
}

.slide {
  display: flex;
  animation: slider 24s infinite linear 0s both;
}

.slide-item {
  width: 260px;
  margin-right: 30px;
  transition: all 0.2s;
}

.slide-item:hover {
  opacity: 0.9;
  transform: translateY(-20px) scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/* 横スクロールアニメーション(無限スライダー) */
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/**********/

@media screen and (min-width: 680px) {
  .slide-item {
    width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .slide-item {
    width: 460px;
  }
}
/*  */

/* contactレイアウト */

.contact-text {
  width: 80%;
  margin: 0 auto;
  font-size: 0.7rem;
  line-height: 2rem;
  padding-top: 50px;
}

@media screen and (min-width: 641px) {
  .contact-text {
    font-size: 1.4rem;
  }
}

/* footerレイアウト */
.footer {
  width: 100%;
  /* background-color: #262; */
  background-color: #387d39;
  background-color: #89c342;
  text-align: center;
}

.footer-area {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 200px;
  padding: 20px;
  margin: 0 auto;
}

.footer-nav {
  width: 100%;
}

.footer-nav ul {
  padding: 10px 10px 0;
}

.footer-nav li {
  line-height: 2.5rem;
  border-bottom: 1px solid #000;
}

.footer-nav a {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
}

.cr {
  margin: 0 auto;
  background-color: #387d39;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer-logo {
    width: 300px;
    flex-shrink: 0;
    /* margin: 0; */
  }

  .footer-nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .footer-nav li {
    border: none;
  }
}

@media screen and (min-width: 980px) {
  .footer-nav ul {
    justify-content: center;
    padding-left: 4%;
  }
}

/*----- モジュール部分 -----*/

/* ページトップボタン */
.home {
  width: 40px;
  position: fixed;
  z-index: 80;
  right: 2%;
  bottom: 10px;
  border-radius: 16px;
  opacity: 0;
  filter: blur(2px);
  transition: all 0.6s ease;
  transform: translateY(5px);
}

@media screen and (min-width: 680px) {
  .home {
    width: 50px;
    bottom: 20px;
  }
}

/* ページトップボタンアニメーション */
.home.show {
  opacity: 1;
  filter: blur(0);
  transition: all 0.6s ease;
  transform: translateY(0px);
}

/* ボタン部分 */
.btn-area {
  max-width: 300px;
  margin: 50px auto 0;
  font-weight: 400;
}

.btn-primary {
  padding: 10px 30px;
  background-color: #387d39;
  color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.btn-contact {
  padding: 14px 40px;
  background-color: #387d39;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.btn-primary:hover,
.btn-contact:hover {
  opacity: 0.8;
  box-shadow: none;
  transform: translateY(2px);
}

/* ヒーロー部分 */

/* フェードスライドショー */
.hero-area {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-area > img {
  position: relative;
  width: 100%;
  height: inherit;
  object-fit: cover;
  opacity: 0;
  animation: slide 24s ease infinite;
}

.hero-area > img:nth-child(2) {
  transform: translateY(-100%);
  animation-delay: 8s;
}

.hero-area > img:nth-child(3) {
  transform: translateY(-200%);
  animation-delay: 16s;
}

@keyframes slide {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
}

.hero-logo {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  width: 70px;
  position: absolute;
  top: 0;
  right: 8%;
}

@media screen and (min-width: 560px) {
  .hero-area,
  .hero-area > img {
    height: 60vh;
  }

  .hero-logo {
    width: 150px;
  }

  .hero-title {
    width: 100px;
  }
}

@media screen and (min-width: 831px) {
  .hero-area,
  .hero-area > img {
    height: 80vh;
  }
}

@media screen and (min-width: 1025px) {
  .hero-area,
  .hero-area > img {
    height: 93vh;
  }

  .hero-logo {
    width: 250px;
  }

  .hero-title {
    width: 150px;
  }
}

/* -----ユーティリティクラス----- */
.flex {
  display: flex;
}

/* 背景の丸より上に */
.position-relative-1 {
  position: relative;
  z-index: 1;
}

/* 全体のアニメーション */
.fade.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: 1s ease;
  transform: translateY(30px) rotateY(180deg);
}

.fade.show {
  opacity: 1;
  filter: blur(0);
  transition: 1s ease;
  transform: translateY(0px) rotateY(0deg);
}
