@charset "utf-8";

html {
  letter-spacing: 0.2rem;
  text-align: center;
}

/* メインレイアウト */
.main {
  width: 100%;
}

.main-content {
  position: relative;
}

.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(215, 238, 163),
    rgb(137, 182, 107, 0.5)
  );
  clip-path: circle(45% at 100% 100%);
}

.main-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgb(215, 238, 163),
    rgb(137, 182, 107, 0.5)
  );
  clip-path: circle(27% at 0% 0%);
}

.main-ttl_area {
  margin: 0 auto;
  padding-top: 10vh;
}

.main-ttl {
  max-width: 310px;
  padding: 20px;
  margin: 0 auto;
  background: rgba(137, 195, 65, 0.1);
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5), 2px 2px 25px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-size: 0.8rem;
}

h2[class*="title"] {
  min-width: 70%;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
}

.text-area {
  font-size: 0.8rem;
  max-width: 300px;
  margin: 0 auto;
}

.text-area .text-content h3 {
  font-weight: 600;
  margin: 0 auto;
  padding-top: 10px;
}

.text-content p {
  line-height: 2rem;
  margin: 0 auto;
  padding-top: 10px;
}

@media screen and (min-width: 440px) {
  .main-ttl {
    max-width: 400px;
    font-size: 1rem;
    padding: 50px 0;
  }

  .text-area {
    max-width: 400px;
  }

  h2[class*="title"],
  .text-area .text-content h3,
  .text-content p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 680px) {
  .main-ttl {
    max-width: 500px;
    font-size: 1.2rem;
  }

  .text-area {
    max-width: 670px;
  }

  h2[class*="title"] {
    max-width: 60%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1025px) {
  .text-area {
    max-width: 980px;
  }
}

/* -------------------- */
