@charset "utf-8";

.form {
  max-width: 1024px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.5);
  background: rgba(137, 195, 65, 0.1);
}

.contact-form {
  min-width: 300px;
  background-color: rgb(230, 255, 230);
  border: 1px solid #adff2f;
  padding: 10px 20px;
  margin: 0 auto;
}

.contact-form th,
.contact-form td {
  width: 100%;
  display: block; /* SP画面で縦並びにするためのdisplay: block; */
  padding: 10px 5px;
}

.contact-form th {
  background-color: #adff2f;
}

.contact-form input {
  width: 100%;
  padding: 5px 10px;
  background-color: #fff;
  text-align: start;
  border: 1px solid #adff2f;
}

.textarea {
  width: 100%;
  background-color: #fff;
  text-align: start;
  border: 1px solid #adff2f;
}

.submit-btn {
  width: 200px;
  padding: 7px 0;
  margin-top: 50px;
  border-radius: 7px;
  background-color: #387d39;
  color: #fff;
}

.completed {
  display: none;
  padding-top: 25px;
  line-height: 2.5rem;
}

@media screen and (min-width: 601px) {
  .contact-form {
    min-width: 500px;
  }

  .contact-form th,
  .contact-form td {
    display: table-cell; /* 縦並びを戻すためのdisplay: table-cell;（defaultに戻す） */
    padding: 10px 5px;
    vertical-align: middle;
  }

  .contact-form th {
    width: 30%;
    text-align: center;
    border: 1px solid rgb(230, 255, 230);
  }

  .contact-form td {
    width: 70%;
    border: 1px solid #adff2f;
  }

  .submit-btn {
    width: 250px;
    padding: 10px 0;
    font-size: 1.2rem;
  }

  .completed {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 920px) {
  .contact-form {
    min-width: 800px;
  }
}
